In [114]:
#PREDICT MAX TEMPERATURE FROM MIN TEMPERATURE AND OTHER PARAMETERS





import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [101]:
data=pd.read_csv('Summary of Weather.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (7,8,18,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
low_memory=False

In [102]:
data.head()

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,1942-7-1,1.016,NaN,25.555556,22.222222,23.888889,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,1942-7-2,0,NaN,28.888889,21.666667,25.555556,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,1942-7-3,2.54,NaN,26.111111,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,1942-7-4,2.54,NaN,26.666667,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,1942-7-5,0,NaN,26.666667,21.666667,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
col=['FB' ,'FTI' ,'ITH' ,'PGT', 'TSHDSBRSGF' ,'SD3' ,'RHX' ,'RHN' ,'RVG' ,'WTE', 'DR' ,'SPD', 'SNF' ,'SND' ,'FT','WindGustSpd','Snowfall']

In [19]:
data.drop(col,axis=1,inplace=True)

In [20]:
target=data['MaxTemp'] #setting output

In [21]:
input=data.drop('MaxTemp',axis=1) #setting test data

In [22]:
input.isnull().sum()

STA                0
Date               0
Precip             0
MinTemp            0
MeanTemp           0
PoorWeather    84803
YR                 0
MO                 0
DA                 0
PRCP            1932
MAX              474
MIN              468
MEA              498
dtype: int64

In [23]:
input.columns

Index(['STA', 'Date', 'Precip', 'MinTemp', 'MeanTemp', 'PoorWeather', 'YR',
       'MO', 'DA', 'PRCP', 'MAX', 'MIN', 'MEA'],
      dtype='object')

In [24]:
input.shape

(119040, 13)

In [25]:
#dropping poorweather column beacuse it has excess missing values
input.drop('PoorWeather',axis=1,inplace=True)

In [37]:
input.drop('PRCP',axis=1,inplace=True)

In [38]:
input.columns

Index(['STA', 'Date', 'Precip', 'MinTemp', 'MeanTemp', 'YR', 'MO', 'DA', 'MAX',
       'MIN', 'MEA'],
      dtype='object')

In [49]:
#missing values in MAX
input.MAX.isnull().sum()

474

In [53]:
#replace missing values with nan
input.MAX = input.MAX.replace(0,np.NaN)

In [55]:
mean_max=int(np.mean(input.MAX))#calculating mean of max and converting it to int

In [56]:
mean_max

81

In [57]:
input.MAX=input.MAX.replace(np.NaN,mean_max)# replacing nan values with mean values

In [58]:
input.MAX.isnull().sum()

0

In [59]:
#do the same with min values
input.MIN.isnull().sum()

468

In [60]:
mean_min=int(np.mean(input.MIN))#calculating mean of min and converting it to int

In [61]:
mean_min

64

In [62]:
input.MIN=input.MIN.replace(np.NaN,mean_min)# replacing nan values with mean values

In [63]:
input.MIN.isnull().sum()

0

In [64]:
#do the same with mean column of input dataframe
mean_MEA=int(np.mean(input.MEA))#calculating mean of min and converting it to int

In [65]:
mean_MEA

72

In [66]:
input.MEA=input.MEA.replace(np.NaN,mean_MEA)# replacing nan values with mean values

In [67]:
input.MEA.isnull().sum()

0

In [68]:
#data exploration is over and now we can proceed to build the model
from sklearn.linear_model import LinearRegression

In [69]:
linreg=LinearRegression()

In [71]:
target.dtype

dtype('float64')

In [76]:
target=target.astype(int)

In [77]:
target.dtype

dtype('int32')

In [86]:
target.dtype

dtype('int32')

In [84]:
target=pd.to_numeric(target)

In [89]:
input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119040 entries, 0 to 119039
Data columns (total 11 columns):
STA         119040 non-null int64
Date        119040 non-null object
Precip      119040 non-null object
MinTemp     119040 non-null float64
MeanTemp    119040 non-null float64
YR          119040 non-null int64
MO          119040 non-null int64
DA          119040 non-null int64
MAX         119040 non-null float64
MIN         119040 non-null float64
MEA         119040 non-null float64
dtypes: float64(5), int64(4), object(2)
memory usage: 10.0+ MB

In [91]:
X=input[['MinTemp','MeanTemp','MAX','MIN','MEA']]#extracted those columns whose data types are same as of target values

In [96]:
from sklearn.model_selection import train_test_split

In [97]:
X_train, X_test, y_train, y_test = train_test_split(X, target, test_size=0.2, random_state=0)

In [99]:
linreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [107]:
#in case of multivariable linear regression,
#the regression model has to find the most optimal coefficients for all the attributes.
#To see what coefficients our regression model has chosen, execute the following script:
coeff_df = pd.DataFrame(linreg.coef_, X.columns, columns=['Coefficient'])

In [108]:
coeff_df

          Coefficient
MinTemp      0.034846
MeanTemp     1.005273
MAX          0.275133
MIN         -0.289103
MEA         -0.010865

In [ ]:
#the above table means that in 1 unit increase in MinTemp
#there is 0.034846 increase in minimum temperature

In [110]:
#making predictions on test data
y_pred = linreg.predict(X_test)

In [111]:
#comparing actual values and predicted values for test data
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

In [112]:
df

        Actual  Predicted
21441       28  28.765764
5719        31  30.659269
52102       27  26.788209
8775        28  28.471627
88657       23  22.860233
...        ...        ...
102987      32  32.048550
32667       32  31.749024
60884       31  30.953406
2337        31  30.937144
27141       36  36.434707

[23808 rows x 2 columns]

In [113]:
#evaluate the performance of algorithm
#finding the values for MAE, MSE and RMSE for new data
#71.3% accuracy
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.3209457664081053
Mean Squared Error: 0.5086563730072847
Root Mean Squared Error: 0.7132014953765063