In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("train.csv")

In [3]:
data.head() #to display first five rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
import matplotlib.pyplot as plt

In [7]:
%matplotlib inline #enables matplotlib functionality in jupyter notebook

UsageError: unrecognized arguments: #enables matplotlib functionality in jupyter notebook

In [ ]:
import seaborn as sns

In [ ]:
from IPython.display import Image, display #to display image in jupyter notebook

In [ ]:
# set the index to passengerId
data = data.set_index('PassengerId')

In [ ]:
 #891 rows , 11 columns
data.shape

In [ ]:
test=pd.read_csv("test.csv")

In [ ]:
test.head()

In [ ]:
test.describe()

In [ ]:
# identify datatypes of the 11 columns, add the stats to the datadict
#here object are categorical values and rest are continuous variables
datadict = pd.DataFrame(data.dtypes)
datadict

In [ ]:
#to find totsl number of missing values in respective columns
datadict['MissingVal'] = data.isnull().sum()
datadict

In [ ]:
#to find how many unique values each column have
datadict['NUnique']=data.nunique()
datadict

In [ ]:
#total number of values in each column
datadict['Count']=data.count()
datadict

In [ ]:
# rename the 0 column as datatypes
datadict = datadict.rename(columns={0:'DataType'})
datadict

In [ ]:
#descriptive analysis of object datatype
data.describe(include=['object'])

In [ ]:
#descriptive analysis of number datatype
data.describe(include=['number'])

In [ ]:
# to get the number of passengers survived
#here 61.6% died and 38.38% passengers survived
data.Survived.value_counts(normalize=True)

In [ ]:
fig, axes = plt.subplots(2, 4, figsize=(16, 10))
sns.countplot('Survived',data=data,ax=axes[0,0])
sns.countplot('Pclass',data=data,ax=axes[0,1])
sns.countplot('Sex',data=data,ax=axes[0,2])
sns.countplot('SibSp',data=data,ax=axes[0,3])
sns.countplot('Parch',data=data,ax=axes[1,0])
sns.countplot('Embarked',data=data,ax=axes[1,1])
sns.distplot(data['Fare'], kde=True,ax=axes[1,2])
sns.distplot(data['Age'].dropna(),kde=True,ax=axes[1,3])

In [ ]:
figbi, axesbi = plt.subplots(2, 4, figsize=(16, 10))
data.groupby('Pclass')['Survived'].mean().plot(kind='barh',ax=axesbi[0,0],xlim=[0,1])
data.groupby('SibSp')['Survived'].mean().plot(kind='barh',ax=axesbi[0,1],xlim=[0,1])
data.groupby('Parch')['Survived'].mean().plot(kind='barh',ax=axesbi[0,2],xlim=[0,1])
data.groupby('Sex')['Survived'].mean().plot(kind='barh',ax=axesbi[0,3],xlim=[0,1])
data.groupby('Embarked')['Survived'].mean().plot(kind='barh',ax=axesbi[1,0],xlim=[0,1])
sns.boxplot(x="Survived", y="Age", data=data,ax=axesbi[1,1])
sns.boxplot(x="Survived", y="Fare", data=data,ax=axesbi[1,2])

In [ ]:
#Jointplot is seaborn library specific and can be used to quickly visualize and analyze the relationship between
#two variables and describe their individual distributions on the same plot.
sns.jointplot(x="Age",y="Fare", data=data)

In [ ]:
f,ax = plt.subplots(figsize=(10,8))
corr = data.corr()
sns.heatmap(corr, mask = np.zeros_like(corr, dtype=np.bool),
           cmap = sns.diverging_palette(220,10, as_cmap=True),
           square=True, ax=ax, annot=True,vmin = -1, vmax = 1, center = 0 )
plt.yticks(rotation = 0)
#annot=true displays the correlation coefficient

In [ ]:
# EXTRACT TITLE FROM NAME AND NEW FEATURES FROM  OTHER FEATURES
data['Name_len']=data.Name.str.len()
data['Name_len']

In [ ]:
#get the first character of each ticket column of each row
data['Ticket_First']=data.Ticket.str[0]
data['Ticket_First']

In [ ]:
data.head()

In [ ]:
#get number of relations of each passenger present on titanic
data['FamilyCount']=data.SibSp+data.Parch
data['FamilyCount']

In [ ]:
#get the first character of cabin column of each row
data['Cabin_First']=data.Cabin.str[0]
data['Cabin_First']

In [ ]:
# Regular expression to get the title of the Name
data['title'] = data.Name.str.extract('\, ([A-Z][^ ]*\.)',expand=False)
data['title']

In [ ]:
#givw the count of each title
#reset index starts table from zero
data.title.value_counts().reset_index()

In [ ]:
# PREPROCESSING AND PREPARE DATA FOR STATISTICAL MODELLING

In [ ]:
# counting missing values in fare variables
#total 15 missing values in fare variable
print((data.Fare == 0).sum())

In [ ]:
# mark zero values as missing or NaN
data.Fare = data.Fare.replace(0, np.NaN)
data['Fare']

In [ ]:
#checking if there are still some missing values in fare variables
#now we gwt 0 missing values
print((data.Fare == 0).sum())

In [ ]:
# keep the index where the values are null
data[data.Fare.isnull()].index

In [ ]:
#calculating the fare mean
data.Fare.mean()

In [ ]:
# replace the missing Fare values with the mean Fare value
#inplace is set to true to reflect the changes made
data.Fare.fillna(data.Fare.mean(),inplace=True)

In [ ]:
# validate if any null values are present after the imputation
#so no null vales present
#all null values are replaces by mean value
data[data.Fare.isnull()]

In [ ]:
#do the same to the age variable
# we see that there are 0 Zero values
print((data.Age == 0).sum())

In [ ]:
# We see that a majority 77% of the Cabin variable has missing values.
# Hence will drop the column from training a machine learnign algorithem
data.Cabin.isnull().mean()

In [ ]:
data.info()

In [ ]:
data.columns

In [ ]:
#setting the input variables
train = data[['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Embarked', 'Name_len', 'Ticket_First', 'FamilyCount',
       'title']]

In [ ]:
#drop rows ofmissing values
train = train.dropna()
train

In [ ]:
# check the dataframe has any missing values
#no missing values present now
train.isnull().sum()

In [ ]:
##outlier detection in univariate analysis
data['Age'].plot.box()

In [ ]:
#outlier treatment in bivariate analysis
#thode two points at 500 are outliers 
data.plot.scatter('Age','Fare')

In [ ]:
data.plot.scatter('Age','SibSp')

In [ ]:
#removing the outliers in the dataset
data=data[data['Fare']<300]

In [ ]:
data.plot.scatter('Age','Fare')

In [ ]:
data.loc[data['Age']>59,'Age']=np.mean(data['Age'])

In [ ]:
#variable transformation
data['Age'].plot.hist()

In [ ]:
#logarithm tranformation
#this made the graph more skewed (left skewed)
#so we willtry another method
#np.log(data['Age']).plot.hist()

In [ ]:
#square root tranformation
#this proved to be a better transformation
np.sqrt(data['Age']).plot.hist()

In [ ]:
#cube root tranformation
#this is slighly left skewed
#np.power(data['Age'],1/3).plot.hist()

In [ ]:
#converting continuous variable to categorical variables
#with the help of bins
bins=[0,15,80]

group=['children','adult']

In [ ]:
#creating a new column type to classify adults and children
data['type']=pd.cut(data['Age'],bins,labels=group)

In [ ]:
data.head()

In [ ]:
data['type'].value_counts()

In [ ]:
####HERE DATA EXPLORATION WORK IS OVER#####
#now we'll proceed building the model